@model DAERP.Web.ViewModels.MultiDropDownListViewModel
<link href="~/lib/bootstrap/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />

<h2 class="text-primary">04.02.01 - Sklad výrobků</h2>
<br />
<div>
    <div class="form-group row border p-2 shadow rounded justify-content-center">
        <div class="row p-3">
            <div class="col text-info">
                Sklad výrobků u odběratele:
            </div>
        </div>
        <div class="row p-3">
            <div class="col">
                <form asp-controller="Stock" asp-action="PostSelectedCustomer">
                    <div class="row">
                        <div class="col">
                            <select name="SelectedIds"
                            asp-items="@Model.ItemList"></select>
                        </div>
                        <div class="col">
                            <input type="submit" value="Zobrazit stav skladu" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    


@section Scripts{
    <script src="/lib/bootstrap/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script>
        $(document).ready(function () {
            $('#customersDropDown').multiselect({
                includeSelectAllOption: true,
                selectAllValue: 'select-all-value',
                selectAllText: 'Vybrat všechny',
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: 'Vyhledat...',
                maxHeight: 200,
                nonSelectedText: 'Zvolte odběratele!',
                numberDisplayed: 4,
                nSelectedText: ' vybraných odběratelů',
                allSelectedText: 'Všichni odběratelé'
            });
        });

    </script>

}