
@{
    ViewData["Title"] = "Menu";
}
<div class="container p-3">
    <h1 class="text-primary">Menu</h1>
    <br />
    <div class="p-2">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Customer" asp-action="Index">01.00.01 - Číselník odběratelů</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Eshop" asp-action="Index">01.00.02 - Číselník Eshopů</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Product" asp-action="Index">02.00.02 - Číselník výrobků</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="ProductDivision" asp-action="Index">02.00.03 - Názvy výrobků</a>
        </div>
    </div>
    <div class="p-2">
        <label class="col-form-label">04. Sklad</label>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="MainStock" asp-action="Index">04.01.01 - Stav skladu výrobků, <b>příjem výrobku</b></a>
            <a class="list-group-item list-group-item-action" asp-controller="DeliveryNote" asp-action="Index">04.02.01 - Záznam dodacích listů, <b>tvorba dodacího listu</b></a>
            <a class="list-group-item list-group-item-action" asp-controller="DNFile" asp-action="Index">04.02.03 - Dodací listy</a>
            <a class="list-group-item list-group-item-action" asp-controller="ReturnNote" asp-action="Index">04.03.01 - Záznam vratek, <b>tvorba vratky</b></a>
            <a class="list-group-item list-group-item-action" asp-controller="RNFile" asp-action="Index">04.03.03 - Vratky</a>
            <div class="list-group-item list-group-item-action"> [in development] 04.04.01 - Stav skladu výrobků u odběratele</div>
            <div class="list-group-item list-group-item-action"> [in development] 04.04.02 - Stav skladu výrobku u odběratelů</div>
            <a class="list-group-item list-group-item-action" asp-controller="IssuedInvoice" asp-action="Index">04.05.01 - Tvorba <b>faktury vydané</b></a>
            <a class="list-group-item list-group-item-action" asp-controller="IssuedInvoiceFile" asp-action="Index">04.05.03 - Faktury vydané</a>
            <a class="list-group-item list-group-item-action" asp-controller="EshopIssueNote" asp-action="Index">04.06.01 - Tvorba <b>výdejky eshop</b></a>
        </div>
    </div>
</div>