
@{
    ViewData["Title"] = "Menu";
}
<div class="container p-3">
    <h1 class="text-primary">Menu</h1>
    <br />
    <div class="list-group">
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Customer" asp-action="Index">01.00.01 - Číselník odběratelů</a>
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Customer" asp-action="Index">___</a>
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Product" asp-action="Index">02.00.02 - Číselník výrobků</a>
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="ProductDivision" asp-action="Index">02.00.03 - Názvy výrobků</a>
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Stock" asp-action="Index">04.02.01 - Sklad výrobků</a>
    </div>
    <div>
        
    </div>
</div>