@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is ERP system of Design Ali company.</p>
    <p>Do you want to visit official websites of <strong>Design Ali</strong>?
        Continue to: <a href="https://www.design-ali.cz">www.design-ali.cz</a></p>
</div>
