@model IEnumerable<DAERP.BL.Models.CustomerModel>

@{
    ViewData["Title"] = "Customers";
}


 @if (Model.Count() > 0)
   {
       <table>
       @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
            </tr>
        }
        </table>
   }